/**
* Copyright (c) 2018 The Nuinalp Authors. All rights reserved.
* Use of this source code is governed by a BSD-style license that can be
* found in the LICENSE file.
*/

/* Constants */

$white-nfw: #e2e8e7;
$yellow-nfw: #6f14d1;
$blue-nfw: #086dbd;
$green-nfw: #1cada1;
$red-nfw: #f90368;
$orange-nfw: #5c7c90;

$unit: 4px; // original unit: 4px
$piece-size: 3 * $unit;
$inter-piece-spacing: 1 * $unit;
$cube-size: 3 * $piece-size + 4 * $inter-piece-spacing;

$white-loader: #e2e8e7;
$yellow-loader: #f6c574;
$blue-loader: #00aacf;
$green-loader: #00b3a0;
$red-loader: #fc5652;
$orange-loader: #fc9f39;

$full-animation-duration: 1.5s;


/* Functions */

@function position-in-face($order) {
  @return $order * $piece-size + ($order + 1) * $inter-piece-spacing;
}

@function distance-to-kernel($x, $y) {
  @return
    ($piece-size / 2 + -1 * $x * ($piece-size + $inter-piece-spacing))
    ($piece-size / 2 + -1 * $y * ($piece-size + $inter-piece-spacing))
    (-1 * ($piece-size / 2 + $piece-size + $inter-piece-spacing));
}

/* Box model */

.rubiks-loader {
  height: $cube-size;
  perspective: $cube-size;
  position: relative;
  width: $cube-size;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  .cube {
    display: inline-block;
    font-size: 0;
    height: $cube-size;
    left: 50%;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
    width: $cube-size;

    .piece {
      animation-duration: $full-animation-duration;
      animation-iteration-count: infinite;
      backface-visibility: hidden;
      display: inline-block;
      height: $piece-size;
      position: absolute;
      width: $piece-size;

      &.row-top { top: position-in-face(0); }
      &.row-center { top: position-in-face(1); }
      &.row-bottom { top: position-in-face(2); }
      &.col-left { left: position-in-face(0); }
      &.col-center { left: position-in-face(1); }
      &.col-right { left: position-in-face(2); }

      &.col-left.row-top { transform-origin: distance-to-kernel(-1, -1); }
      &.col-center.row-top { transform-origin: distance-to-kernel(0, -1); }
      &.col-right.row-top { transform-origin: distance-to-kernel(1, -1); }
      &.col-left.row-center { transform-origin: distance-to-kernel(-1, 0); }
      &.col-center.row-center { transform-origin: distance-to-kernel(0, 0); }
      &.col-right.row-center { transform-origin: distance-to-kernel(1, 0); }
      &.col-left.row-bottom { transform-origin: distance-to-kernel(-1, 1); }
      &.col-center.row-bottom { transform-origin: distance-to-kernel(0, 1); }
      &.col-right.row-bottom { transform-origin: distance-to-kernel(1, 1); }

      // &.row-top {
      //   top: 10px;
      // }

      // &.row-center {
      //   top: 50px;
      // }

      // &.row-bottom {
      //   top: 90px;
      // }

      // &.col-left {
      //   left: 10px;
      // }

      // &.col-center {
      //   left: 50px;
      // }

      // &.col-right {
      //   left: 90px;
      // }

      // &.col-left.row-top {
      //   transform-origin: 55px 55px -55px;
      // }

      // &.col-center.row-top {
      //   transform-origin: 15px 55px -55px;
      // }

      // &.col-right.row-top {
      //   transform-origin: -25px 55px -55px;
      // }

      // &.col-left.row-center {
      //   transform-origin: 55px 15px -55px;
      // }

      // &.col-center.row-center {
      //   transform-origin: 15px 15px -55px;
      // }

      // &.col-right.row-center {
      //   transform-origin: -25px 15px -55px;
      // }

      // &.col-left.row-bottom {
      //   transform-origin: 55px -25px -55px;
      // }

      // &.col-center.row-bottom {
      //   transform-origin: 15px -25px -55px;
      // }

      // &.col-right.row-bottom {
      //   transform-origin: -25px -25px -55px;
      // }

      &.yellow {
        background-color: $yellow-loader;
      }

      &.blue {
        background-color: $blue-loader;
      }

      &.green {
        background-color: $green-loader;
      }

      &.white {
        background-color: $white-loader;
      }

      &.red {
        background-color: $red-loader;
      }

      &.orange {
        background-color: $orange-loader;
      }
    }

    &.firefox-fix {
      .yellow {
        box-shadow: 0 0 1px rgba($yellow-loader, 0.7);
      }

      .blue {
        box-shadow: 0 0 1px rgba($blue-loader, 0.7);
      }

      .green {
        box-shadow: 0 0 1px rgba($green-loader, 0.7);
      }

      .white {
        box-shadow: 0 0 1px rgba($white-loader, 0.7);
      }

      .red {
        box-shadow: 0 0 1px rgba($red-loader, 0.7);
      }

      .orange {
        box-shadow: 0 0 1px rgba($orange-loader, 0.7);
      }
    }

    &.nfw-style {

    }

    .face.back {
      transform: rotateY(180deg);
    }

    .face.right {
      transform: rotateY(90deg);
    }

    .face.left {
      transform: rotateY(-90deg);
    }

    .face.up {
      transform: rotateX(90deg);
    }

    .face.down {
      transform: rotateX(-90deg);
    }
  }

  .face.piece.front.row-center.col-left,
  .face.piece.down.row-center.col-center,
  .face.piece.front.row-center.col-right {
    animation-name: step-2-front-to-left;
  }

  .face.front.piece.col-center {
    animation-name: step-1-front-to-up;
  }

  .face.down.piece.col-center {
    animation-name: step-1-down-to-front;
  }

  .face.right.piece.row-center {
    animation-name: step-2-right-to-front;
  }

  .face.piece.front.row-top.col-left,
  .face.piece.front.row-bottom.col-left {
    animation-name: step-3-front-to-down;
  }

  .face.piece.right.row-center.col-left {
    animation-name: step-2-3-right-to-front-to-down;
  }

  .face.up.piece.col-left {
    animation-name: step-3-up-to-front;
  }

  .face.piece.front.row-bottom.col-right {
    animation-name: step-4-front-to-right;
  }

  .face.piece.down.row-bottom.col-center {
    animation-name: step-1-4-down-to-front-to-right;
  }

  .face.piece.up.row-bottom.col-left {
    animation-name: step-3-4-up-to-front-to-right;
  }

  .face.left.piece.row-bottom {
    animation-name: step-4-left-to-front;
  }
}

@keyframes step-1-front-to-up {
  0% {
    transform: rotateX(0deg);
  }

  25%,
  100% {
    transform: rotateX(90deg);
  }
}

@keyframes step-1-down-to-front {
  0% {
    transform: rotateX(-90deg);
  }

  25%,
  100% {
    transform: rotateX(0deg);
  }
}

@keyframes step-2-front-to-left {
  25% {
    transform: rotateY(0deg);
  }

  50%,
  100% {
    transform: rotateY(-90deg);
  }
}

@keyframes step-2-right-to-front {
  25% {
    transform: rotateY(90deg);
  }

  50%,
  100% {
    transform: rotateY(0deg);
  }
}

@keyframes step-3-front-to-down {
  50% {
    transform: rotateX(0deg);
  }

  75%,
  100% {
    transform: rotateX(-90deg);
  }
}

@keyframes step-2-3-right-to-front-to-down {
  25% {
    transform: rotateY(90deg);
  }

  50% {
    transform: rotateX(0deg);
  }

  75%,
  100% {
    transform: rotateX(-90deg);
  }
}

@keyframes step-3-up-to-front {
  50% {
    transform: rotateX(90deg);
  }

  75%,
  100% {
    transform: rotateX(0deg);
  }
}

@keyframes step-4-front-to-right {
  75% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(90deg);
  }
}

@keyframes step-1-4-down-to-front-to-right {
  0% {
    transform: rotateX(-90deg);
  }

  25% {
    transform: rotateX(0deg);
  }

  75% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(90deg);
  }
}

@keyframes step-3-4-up-to-front-to-right {
  50% {
    transform: rotateX(90deg);
  }

  75% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(90deg);
  }
}

@keyframes step-4-left-to-front {
  75% {
    transform: rotateY(-90deg);
  }

  100% {
    transform: rotateY(0deg);
  }
}
